.button {
  display: block; 
  width: 318px;
  height: 78px;
  padding: 12px;
  font-size: 15px;
  border-radius: 22px;
  border: none;
  margin: 80px auto;
  align-items: center;
  background: #60C2FF;
  color: #343434;
  font-weight: 700;
  font-size: 36px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover:not(:disabled) {
    background: #4338ca;
  }

  &:disabled {
    background: #c7c7c7;
    cursor: not-allowed;
  }
}
