@use '@/shared/styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 33px;
  height: 152px; 
  opacity: 1;
  position: relative; 
  @media (max-width: 1024px) {
    gap: 24px;
    height: auto;
  }

  @media (max-width: 768px) {
    gap: 16px;
    height: auto;
  }
}

.label {
  font-size: 24px;
  font-weight: 400;
  color: $color-white; 
  margin-bottom: 4px;
}

.input {
  width: 100%;
  height: 90px; 
  padding: 30px 35px;
  border-radius: 22px; 
  border: 1px solid $color-white; 
  background: transparent; 
  color: $color-white; 
  font-size: 24px;
  
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;

  &::placeholder {
    font-family: 'Akt', sans-serif; 
    font-weight: 400;                
    font-style: normal;              
    font-size: 24px;                 
    line-height: 100%;               
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6); 
  }

  &:focus {
    border-color: #4f46e5; 
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
  }

  @media (max-width: 1024px) {
    height: 70px;
    padding: 24px 28px;
  }

  @media (max-width: 768px) {
    height: 60px;
    padding: 20px 24px;
  }
}

.error {
  font-size: 12px;
  color: $color-error; 
  position: absolute;
  bottom: -18px; 
  left: 0;
  margin: 0;
  line-height: 1;

  @media (max-width: 1024px) {
    bottom: -16px;
  }

  @media (max-width: 768px) {
    bottom: -14px;
  }
}
