@font-face {
  font-family: 'Akt';
  src: url('../assets/fonts/Akt.woff2') format('woff2');

  font-weight: 700;
  font-style: normal; 
  font-display: swap;
  
}
@font-face {
  font-family: 'Akt';
  src: url('../assets/fonts/Akt Thin.woff2') format('woff2');

  font-weight: 400;
  font-style: normal; 
  font-display: swap;
  
}