@use '@/shared/styles/variables.scss' as *;
.page {
  position: relative;
  min-height: 100vh;
  background: $color-black;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.circle1 {
  position: absolute;
  width: 821px;
  height: 821px;
  top: 399px;
  left: -201px;
  border-radius: 50%;
  background: linear-gradient(135deg, #6C1ACE 0%, #79D1FF 100%);
  opacity: 0.5;
  filter: blur(200px); 
  z-index: 0;
}

.circle2 {
  position: absolute;
  width: 535px;
  height: 535px;
  top: -136px;
  left: 1520px;
  border-radius: 50%;
  background: linear-gradient(135deg, #6C1ACE 0%, #79D1FF 100%);
  opacity: 0.5;
  filter: blur(200px);
  z-index: 0;
}



@media (max-width: 1280px) {
  .circle1 {
    transform: scale(0.8);
    top: 300px;
    left: -150px;
  }

  .circle2 {
    transform: scale(0.8);
    top: -100px;
    left: 1200px;
  }
}

@media (max-width: 768px) {
  .circle1,
  .circle2 {
    display: none; 
  }
}
